.navbar-brand
{
    color: #0C5600;
    font-size: 36px;
}
#navbarNav
{
    font-size: 32px;
    color: #0C5600;
    display: flex;
    align-items: end;
    justify-content: flex-end;

}      
.nav-item
{
    color: #0C5600;
    margin-left: 152px;
}
#nav-item-icon
{
    margin-right: 52px;
}

body
{
    background: rgb(0,51,8);
    background: -moz-linear-gradient(90deg, rgba(0,51,8,1) 0%, rgba(0,224,36,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,51,8,1) 0%, rgba(0,224,36,1) 100%);
    background: linear-gradient(90deg, rgba(0,51,8,1) 0%, rgba(0,224,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003308",endColorstr="#00e024",GradientType=1);
    font-family: "Inter";
}

/* Gap */
.gap
{
width: 100%;
height: 20vh;

background: #D9D9D9;
margin-top: 25vh;
}

#card-body
{
    margin-left: 29vw;
    margin-right: 29vw;
    margin-top: 10vh;
    width: 34vw;
    height: 85vh;
    border-radius: 20px;

    background: #ECECEC;
    box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.6);
    border-radius: 20px;

}

input
{
    width: 22vw;
    height: 5vh;
    border-radius: 20px;
    border-color: #A9A9A9;

    font-size: 24px;
    padding-left: 1vw;
    background: #ECECEC;
    border: 1px solid #A9A9A9;
    border-radius: 20px;
}

.card-link
{
    margin-top: 1vh;
    margin-bottom: 3vh;
    color: #003308;
    font-size: 20px;
    text-decoration: none;

}

.card-link:hover {
    text-decoration: underline;
}
.sendbtn
{
    margin-top: 8vh;
    
    width: 27vw;
    height: 8vh;
    border-radius: 20px;
    border-color: #A9A9A9;
    background-color: #0C5600;

    font-size: 32px;
    color: white;
    padding: 12px;
}

.card-body h1
{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 39px;
text-align: center;

color: #0C5600;

}

.card-body p
{
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 24px;
text-align: center;

color: #0C5600;
}

/*Footer*/
.footer 
{
    height: 20vh;
    color: #858585;
}
  .logo_and_text 
{
    display: flex;
    align-items: center;
    margin-left: 3.5vw;
    margin-top: 10vh;
  }
  
  .footer_logo_text 
{
    margin-left: 1vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;
  }
  
  .text_block 
  {
    text-align: left;
    margin-right: 1vw;
  }
  .text-block p
  {
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #A9A9A9;
  }

  .vscpi_logo
  {
    width: 95px;
    height: 95px;
  }
    
  .part_of
{
    margin-left: 1vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 36px;
    line-height: 44px;
    
    color: #FFFFFF;
}

.footer_logo_text2
{
    margin-left: 0.3vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;
}

.abt_us
{
    text-align: center;
    margin-top: -17vh;
    margin-left: 19vw;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;

}

.abt_us2
{
    text-align: center;
    margin-left: 19vw;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    text-align: center;

    color: #FFFFFF;
}

.ig_logo
{
    width: 120px;
    height: 95px;
}

.contact
{
    margin-left: 74vw;
    margin-top: -20vh;
}

.gh_logo
{
    width: 160px;
    height: 120px;
}

.contact_text
{
    margin-left: 2vw;
    margin-top: -12vh;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;

}