.navbar-brand
{
    color: #0C5600;
    font-size: 36px;
}
#navbarNav
{
    font-size: 32px;
    color: #0C5600;
    display: flex; /* Adding display: flex to enable flexbox */
    align-items: end; /* Align items vertically in the center */
    justify-content: flex-end; /* Align items horizontally to the left */

}      

.nav-item
{
    color: #0C5600;
    margin-left: 152px;
}
#nav-item-icon
{
    margin-right: 52px;
}

body
{
    background: rgb(0,224,36);
    background: -moz-linear-gradient(90deg, rgba(0,224,36,1) 0%, rgba(0,51,8,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,224,36,1) 0%, rgba(0,51,8,1) 100%);
    background: linear-gradient(90deg, rgba(0,224,36,1) 0%, rgba(0,51,8,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00e024",endColorstr="#003308",GradientType=1); 
}

#card-body
{
    position: absolute;
    margin-left: 4vw;
    margin-right: 70vw;
    margin-top: 10vh;
    width: 30vw;
    height: 69vh;
    border-radius: 20px;
}

#email, #pass
{
    width: 24vw;
    height: 5vh;
    border-radius: 20px;
    border-color: #A9A9A9;

    font-size: 20px;
    padding-left: 1vw;
    color: #003308;
}

.card-link
{
    margin-top: 1vh;
    margin-bottom: 1.5vh;
    color: #003308;
    font-size: 20px;
    text-decoration: none;

}

.card-link:hover {
    text-decoration: underline;
  }

.registerbtn
{
    margin-top: 14vh;
    
    width: 27vw;
    height: 6vh;
    border-radius: 20px;
    border-color: #A9A9A9;
    background-color: #0C5600;

    font-size: 20px;
    color: white;
    padding: 12px;
}

#or 
{
    width: 100%;
    font-size: 20px; 
    text-align: center; 
    border-bottom: 1px solid #ACACAC; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
} 
 
#or span 
{ 
     background:#fff; 
     padding:0 10px; 
 }

 .ellipse_group
{
    position: absolute;
    width: 25.4vw;
    height: 64vh;
    z-index: -1;
    
}
    .elliplse_1
    {
    position: absolute;
    width: 15vw;
    height: 27vh;
    border-radius: 50%;
    font-size: 36px;
    
    margin-right: 23vw;
    margin-left: 60vw;
    margin-top: 15vh;
    
    background: #FFFFFF;
    color: #003308;
    box-shadow: 0 0 10px rgba(0, 0, 0, 8);
    }
    .elliplse_2
    {
    position: absolute;
    width: 13vw;
    height: 23vh;
    border-radius: 50%;
    
    margin-right: 15vw;
    margin-left: 72vw;
    margin-top: 30vh;
    
    background: #003308;
    color: #ECECEC;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 8);
    }
    .elliplse_3
    {
      position: absolute;
      width: 18vw;
      height: 32vh;
      border-radius: 50%;
      
      margin-left: 65vw;
      margin-right: 16vw;
      margin-top: 46vh;
      
      background: #ECECEC;
      color: #003308;
      box-shadow: 0 0 10px rgba(0, 0, 0, 8);
      }


.ellipse-text
{
    font-weight: bolder;
    text-align: center; /* Center the text horizontally */
    display: flex;
    align-items: center; /* Center the text vertically */
    justify-content: center; /* Center the text horizontally */
    margin-top: 9vh;

    font-size: 45px;
}