/*Link Inter Font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.navbar-brand
{
    color: #0C5600;
    font-size: 36px;
}
#navbarNav
{
    font-size: 32px;
    color: #0C5600;
    display: flex; /* Adding display: flex to enable flexbox */
    align-items: end; /* Align items vertically in the center */
    justify-content: flex-end; /* Align items horizontally to the left */

}      

.nav-item
{
    margin-left: 152px;
}
#nav-item-icon
{
    margin-right: 52px;
}
.nav-link:hover
{
    text-decoration: underline;
}