/*Link Inter Font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Navbar */
.navbar-brand
{
    color: #0C5600;
    font-size: 36px;
}
#navbarNav
{
    font-size: 32px;
    color: #0C5600;
    display: flex; 
    align-items: end;
    justify-content: flex-end;

}      
.nav-item
{
    color: #0C5600;
    margin-left: 152px;
}
#nav-item-icon
{
    margin-right: 52px;
}
.nav-link:hover
{
    text-decoration: underline;
}

/* Body */
body
{
    background: rgb(0,51,8);
    background: -moz-linear-gradient(90deg, rgba(0,51,8,1) 0%, rgba(0,224,36,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,51,8,1) 0%, rgba(0,224,36,1) 100%);
    background: linear-gradient(90deg, rgba(0,51,8,1) 0%, rgba(0,224,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003308",endColorstr="#00e024",GradientType=1);
    font-family: "Inter";
}

/* Gap */
.gap
{

width: 100%;
height: 20vh;

background: #D9D9D9;
margin-top: 38vh;
}

/* Login Card */
#card-body
{
    position: absolute;
    margin-left: 4vw;
    margin-right: 70vw;
    margin-top: 10vh;
    width: 30vw;
    height: 69vh;
    border-radius: 20px;
}
#email, #pass
{
    width: 24vw;
    height: 5vh;
    border-radius: 20px;
    border-color: #A9A9A9;

    font-size: 20px;
    padding-left: 1vw;
    color: #003308;
}
.card-link
{
    margin-top: 1vh;
    margin-bottom: 1.5vh;
    color: #003308;
    font-size: 20px;
    text-decoration: none;

}
.card-link:hover {
    text-decoration: underline;
  }

.registerbtn
{
    margin-top: 14vh;
    
    width: 27vw;
    height: 6vh;
    border-radius: 20px;
    border-color: #A9A9A9;
    background-color: #0C5600;

    font-size: 20px;
    color: white;
    padding: 12px;
}
#or 
{
    width: 100%;
    font-size: 20px; 
    text-align: center; 
    border-bottom: 1px solid #ACACAC; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
} 
#or span 
{ 
     background:#fff; 
     padding:0 10px; 
 }


/* Ellipses */
 .ellipse_group
{
    position: absolute;
    width: 25.4vw;
    height: 64vh;
    z-index: -1;
    

}
    .elliplse_1
    {
    position: absolute;
    width: 15vw;
    height: 27vh;
    border-radius: 50%;
    font-size: 36px;

    margin-right: 23vw;
    margin-left: 60vw;
    margin-top: 15vh;

    background: #FFFFFF;
    color: #003308;
    border: 1px solid #003308;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);

    }
    .elliplse_2
    {
    position: absolute;
    width: 13vw;
    height: 23vh;
    border-radius: 50%;

    margin-right: 15vw;
    margin-left: 72vw;
    margin-top: 30vh;

    background: #003308;
    color: #ECECEC;
    z-index: 2;
    border: 1px solid #003308;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);

}
.elliplse_3
{
position: absolute;
width: 18vw;
height: 32vh;
border-radius: 50%;

margin-left: 65vw;
margin-right: 16vw;
margin-top: 46vh;

background: #ECECEC;
color: #003308;
border: 1px solid #003308;
box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);

}


.ellipse-text
{
    font-weight: 800;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9vh;

    font-size: 28px;
} 
#Ellipse3-text
{
    font-size: 32px;
}


/* Quote1 */
.quote{
    position: absolute;
    width: 100%;
    height: 20vh;
    margin-top: 87vh;
    
    background: #ECECEC;
}
.quote-text h1
{
    position: absolute;
    top: 38%;
    z-index: 2;
        
    font-weight: bolder;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    color: #003308;
}
.quote-text  h1::before,
.quote-text  h1::after {
    background-color: #003308;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 10%;
}
.quote-text  h1::before {
    right: 1em;
    margin-left: 8%;
}
.quote-text h1::after {
    left: 1em;
    margin-right: -30%;
}
/* TW-quote */
#TW-quote
{
    margin-top: 135vh;
    padding: 0px;
}
#TW-Picture
{
    width: 415px;
    height: 415px;
    box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.6);

    margin-left: 7vw;
    border-radius: 50%;

    padding: 0px;

    
}
#card-body-picture
{
    padding: 0px;
    margin-left: 0.2vw;
    margin-top: 0.2vw;

    max-width: 415px;
    max-height: 415px;
}
.card-body h1 {
    font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 44px;
text-align: center;

color: #FFFFFF;
  }
  
  .card-body  h1::before,
  .card-body  h1::after {
    background-color: #FFFFFF;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 25%;
  }
  
  .card-body  h1::before {
    right: 0.3em;
    margin-left: -50%;
  }
  
  .card-body h1::after {
    left: 0.3em;
    margin-right: -50%;
  }

.card-text
{
font-family: 'Inter';
font-style: italic;
font-weight: 400;
font-size: 36px;
line-height: 44px;
text-align: center;

color: #FFFFFF;


}

#TW-quote-text
{
    position: absolute;
    width: 53vw;
    height: 31vh;

    margin-right: 25vw;
    margin-top: 19vh;
}

.row
{
    max-width: 100%;
}

#text-line p {
    font-family: 'Inter';
font-style: italic;
font-weight: 400;
font-size: 36px;
line-height: 44px;
text-align: center;

color: #FFFFFF;
  }
  
  #text-line  p::before,
  #text-line  p::after {
    background-color: #FFFFFF;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 40%;
  }
  
  #text-line  p::before {
    right: 0.3em;
    margin-left: -50%;
  }
  
  #text-line p::after {
    left: 0.3em;
    margin-right: -50%;
  }


  /* Review Cards */
#review-cards
{
    margin-top: 27vh;
    margin-left: 5vw;

    max-width: 1720px;
}
#review-card
{
    width: 512px;
    height: 629px;

    background: #ECECEC;
    box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.6);
    border-radius: 20px;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card-img-top
{
    max-width: 266px;
    max-height: 67px;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card-title
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#review-text
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

    color: #ACACAC;
}
.card-footer-image
{
    width: 65px;
    height: 62px;
}

/* Footer */
.footer {
    height: 20vh;
  }
  
.footer
{
    color: #858585;
}

  .logo_and_text {
    display: flex;
    align-items: center;
    margin-left: 3.5vw;
    margin-top: 10vh;
  }
  
  .footer_logo_text {
    margin-left: 1vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

color: #FFFFFF;
  }
  
  .text_block {
    text-align: left;
    margin-right: 1vw;
  }
  .text-block p
  {
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #A9A9A9;
  }

  .vscpi_logo
  {
    width: 95px;
    height: 95px;
  }
    
  .part_of
{
    margin-left: 1vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 36px;
    line-height: 44px;
    
    color: #FFFFFF;
}

.footer_logo_text2
{
    margin-left: 0.3vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;
}

.abt_us
{
    text-align: center;
    margin-top: -17vh;
    margin-left: 19vw;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;

}

.abt_us2
{
    text-align: center;
    margin-left: 19vw;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    text-align: center;

    color: #FFFFFF;
}

.ig_logo
{
    width: 120px;
    height: 95px;
}

.contact
{
    margin-left: 74vw;
    margin-top: -20vh;
}

.gh_logo
{
    width: 160px;
    height: 120px;
}

.contact_text
{
    margin-left: 2vw;
    margin-top: -12vh;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;

}